@page "/game"
@using DrawbackChess.Classes
@using DrawbackChess.Components
@using DrawbackChess.Components.IndividualComponents
@using CommunityToolkit.Maui.Views;
<link href="css/Game.css" rel="stylesheet" />
<div class="content">

    <GameEndedPopup Title="Game Over" IsVisible="@GameMenu.currentGame.GameHasEnded()">
        @if (GameMenu.currentGame.typeofwin != "draw")
        {
            <p class="message">
                Game over! Game was won by @GameMenu.currentGame.LookForWinner() by @GameMenu.currentGame.typeofwin.
            </p>
        }
        else
        {
            <p class="message">
                Game over! The game ended in a draw.
            </p>
        }
    </GameEndedPopup>

    <div class="gamearea">
        <PlayerInfo GameHasStarted="@GameMenu.currentGame.GameHasStarted()" player="@GameMenu.currentGame.player1"
        timer="@GameMenu.currentGame.WhiteTimer" rotate="roteste()">
        </PlayerInfo>

        @if(GameMenu.session==null)
        {
            <ChessBoard></ChessBoard>
        }
        else
        {
            <ChessBoardOnline></ChessBoardOnline>
        }

        <PlayerInfo GameHasStarted="@GameMenu.currentGame.GameHasStarted()" player="@GameMenu.currentGame.player2"
        timer="@GameMenu.currentGame.BlackTimer" rotate="false">
        </PlayerInfo>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        Action refreshUI = async () => await InvokeAsync(StateHasChanged);
        GameMenu.currentGame.refreshUI = refreshUI;
    }

    public bool roteste() //pe offline nu se roteste, pe online da
    {
        if(GameMenu.session==null)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
}