@page "/game/{Player1Name}/{Player2Name}/{PlayTime:int}"
@using DrawbackChess.Classes
@using DrawbackChess.Components
@using CommunityToolkit.Maui.Views;
<link href="css/Game.css" rel="stylesheet" />
<div class="content">

    <GameEndedPopup Title="Game Over" IsVisible="@current_session.GameHasEnded()">
        @if (current_session.typeofwin != "draw")
        {
            <p class="message">
                Game over! Game was won by @current_session.winner.name by @current_session.typeofwin.
            </p>
        }
        else
        {
            <p class="message">
                Game over! The game ended in a draw.
            </p>
        }
    </GameEndedPopup>

    <div class="gamearea">
        <PlayerGameInfo GameHasStarted="@current_session.GameHasStarted()" player="@current_session.player1" rotate="true">
        </PlayerGameInfo>

        <GameArea current_session="@current_session"></GameArea>

        <PlayerGameInfo GameHasStarted="@current_session.GameHasStarted()" player="@current_session.player2" rotate="false">
        </PlayerGameInfo>
    </div>
</div>

@code {
    //parametrii luati de la meniul de creare a jocului
    [Parameter] public string Player1Name { get; set; }
    [Parameter] public string Player2Name { get; set; }
    [Parameter] public int PlayTime { get; set; }
    //parametrii pentru joc
    public Session current_session;
    string contents;

    protected override async void OnInitialized()
    {
        LoadMauiAsset();
        if (GameMenu.is_new_game)
        {
            TimeSpan timeSpan = TimeSpan.FromMinutes(PlayTime);
            Player player1 = new Player(Player1Name, "White", new Drawback(contents), timeSpan, () =>
            {
                InvokeAsync(StateHasChanged);
            });
            Player player2 = new Player(Player2Name, "Black", new Drawback(contents), timeSpan, () =>
           {
               InvokeAsync(StateHasChanged);
           });
            current_session = new Session(player1, player2);
        }
    }

    public async void LoadMauiAsset()
    {
        using var stream = await FileSystem.OpenAppPackageFileAsync("drawbacks.txt");
        using var reader = new StreamReader(stream);

        contents = reader.ReadToEnd();
    }

}


